

body {
  background-color: rgb(127, 127, 127);
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
  margin: 0%;
  padding: 0%;
  
}

body.dark {
  background-color: #021279;
  color: white;
}

header {
    backdrop-filter: blur(10px);
    background: linear-gradient(to left, #00aaff, #7f00ff);
    padding: 5px;
    left: 100%;
    size: 100%;
    box-shadow: 0 4px 20px black;
    z-index: 100;
}
    
h1{
    color: rgb(255, 255, 255);
   text-align: center;
}
h2{
    color: white;

}
.logo{

position: absolute;
bottom: 5%;


}


p{
    color: rgb(86, 86, 86);
    border: 3px solid black;
    border-radius: 15px;
    padding: 10px;
    
    
}
blockquote{

    border: 3px solid black;
    border-radius: 15px;
    padding: 10px;
    color: rgb(89, 88, 88);
}
.bouton{
    background-color: #940000; 
      color: white;
      padding: 12px 24px; 
      font-size: 16px; 
      border: none; 
      border-radius: 50px; 
      cursor: pointer; 
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
      transition: all 0.3s ease; 
     position: absolute;
     left: 85%;
    }


    .bouton:hover {
      background-color: #45a049; 
      transform: scale(1.05); 
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); 
    }

    .bouton:active {
      transform: scale(0.95); 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    }

    .bouton2{
    background-color: #940000; 
      color: white;
      padding: 10px; 
      font-size: 16px; 
      border: none; 
      border-radius: 50px; 
      cursor: pointer; 
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
      transition: all 0.3s ease; 
    }

    .bouton2:hover {
      background-color: #45a049; 
      transform: scale(1.05); 
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); 
    }

    .bouton2:active {
      transform: scale(0.95); 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    }

    .bouton3{
    background-color: #940000; 
      color: white;
      padding: 10px; 

      font-size: 16px; 
      border: none; 
      border-radius: 50px; 
      cursor: pointer; 
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
      transition: all 0.3s ease; 
      
    }

    .bouton3:hover {
      background-color: #45a049; 
      transform: scale(1.05); 
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); 
    }

    .bouton3:active {
      transform: scale(0.95); 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    }

    
footer {
background: linear-gradient(to right, rgb(0, 67, 154) , rgb(133, 22, 93));

}

    .site-footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 0.9rem;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 30px;
  border: 3px solid rgb(111, 2, 2);
}

.addpanier{

    background-color: #c4a50b; 
      color: white;
      padding: 10px; 

      font-size: 16px; 
      border: none; 
      border-radius: 50px; 
      cursor: pointer; 
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
      transition: all 0.3s ease; 
      
    }

    .addpanier:hover {
      background-color: #45a049; 
      transform: scale(1.05); 
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); 
    }

    .addpanier:active {
      transform: scale(0.95); 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    }

.panier{

    background-color: #c4a50b; 
      color: white;
      padding: 10px; 

      font-size: 16px; 
      border: none; 
      border-radius: 50px; 
      cursor: pointer; 
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
      transition: all 0.3s ease; 
      position: absolute;
      left: 78%;
    }
  

    .panier:hover {
      background-color: #45a049; 
      transform: scale(1.05); 
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); 
    }

    .panier:active {
      transform: scale(0.95); 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    }


@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  .menu {
    display: none;
  }
}
.frame {
height: 500px;
width: 300px;
background-color: white;
position: absolute;
left: 76%;
top: 15%;
border-radius: 20px;
border: 5px solid black;
background: linear-gradient(to right, orange, yellow);


}


.mode{

    background-color: #3b0093; 
      color: white;
      padding: 10px; 

      font-size: 16px; 
      border: none; 
      border-radius: 50px; 
      cursor: pointer; 
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
      transition: all 0.3s ease; 
      position: absolute;
      left: 65%;
      cursor: grab;
    }
  

    .mode:hover {
      background-color: #45a049; 
      transform: scale(1.05); 
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); 
    }

    .mode:active {
      transform: scale(0.95); 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    }

    #texte {
      font-size: 16px;
    }


    .agrandir{

    background-color: #3b0093; 
      color: white;
      padding: 10px; 

      font-size: 16px; 
      border: none; 
      border-radius: 50px; 
      cursor: pointer; 
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
      transition: all 0.3s ease; 
      position: absolute;
      left: 85%;
      cursor: grab;
    }
  

    .agrandir:hover {
      background-color: #45a049; 
      transform: scale(1.05); 
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); 
    }

    .agrandir:active {
      transform: scale(0.95); 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    }


    .reduire{

    background-color: #3b0093; 
      color: white;
      padding: 10px; 

      font-size: 16px; 
      border: none; 
      border-radius: 50px; 
      cursor: pointer; 
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
      transition: all 0.3s ease; 
      position: absolute;
      left: 55%;
      cursor: grab;
    }
  

    .reduire:hover {
      background-color: #45a049; 
      transform: scale(1.05); 
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); 
    }

    .reduire:active {
      transform: scale(0.95); 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    }
    
        .box {
height: 500px;
width: 500px;
background-color: white;

border-radius: 20px;
border: 5px solid black;
background: linear-gradient(to right, rgb(3, 22, 129), rgb(169, 7, 181));
overflow-y: auto;
text-overflow: clip;
overflow-x: hidden;
scrollbar-color: orange yellow;


}